name: CI/CD Pipeline

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
tests:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      working-directory: ./sample_app
      run: npm install

    - name: Run tests
      working-directory: ./sample_app
      run: npm test

  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKER_USER }}/octabyte-app:latest

  staging:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Terraform Init & Apply (staging)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd infra
          terraform init
          terraform apply -auto-approve -var="db_username=${{ secrets.DB_USER }}" -var="db_password=${{ secrets.DB_PASS }}"

  production:
    needs: staging
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Approval
        uses: fjogeleit/approve-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Terraform Apply (production)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd infra
          terraform init
          terraform apply -auto-approve -var="db_username=${{ secrets.DB_USER }}" -var="db_password=${{ secrets.DB_PASS }}"
